.container {
    max-width: 980px;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}

.wrapper {
    background: cyan;
    border: 2px solid yellow;
    height: 100px;
}

.crossed {
    text-decoration: line-through;
    color: blue;
}

.headerlink {
    color: #fff;
}

.headerMenu {
    z-index: 1000;
    position: relative;
}

.sideMenu {
    height: 100vh;
    padding-top: 60px;
}